/* base styles  */
/* line 2, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/3-basics/_base.scss */
html {
  box-sizing: border-box;
}

/* line 6, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/3-basics/_base.scss */
body {
  width: 100%;
  height: auto;
}

/* line 15, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/3-basics/_base.scss */
p {
  font-size: 1rem;
}

/* utility */
@media screen and (max-width: 768px) {
  /* line 22, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/3-basics/_base.scss */
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* line 28, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/3-basics/_base.scss */
  .hide-tablet {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1259px) {
  /* line 34, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/3-basics/_base.scss */
  .hide-desktop {
    display: none;
  }
}

@media screen and (min-width: 1260px) {
  /* line 40, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/3-basics/_base.scss */
  .hide-desktop-lg {
    display: none;
  }
}

/* line 4, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_mainarea.scss */
.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
}

/* line 9, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_mainarea.scss */
.splash-page {
  background-image: url("/images/pexels-david-bartus-963278.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

/* line 17, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_mainarea.scss */
.splash-page h1 {
  font-size: 5rem;
  padding: 5rem;
  color: blue;
}

/* line 23, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_mainarea.scss */
.splash-page p {
  font-size: 2rem;
  color: yellow;
  padding: 5rem;
}

@media screen and (max-height: 450px) {
  /* line 33, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_mainarea.scss */
  .sidenav {
    padding-top: 15px;
  }
  /* line 34, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_mainarea.scss */
  .sidenav a {
    font-size: 18px;
  }
}

/* line 1, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_project-card.scss */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* line 13, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_project-card.scss */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* line 21, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_project-card.scss */
.sidenav a:hover {
  color: #f1f1f1;
}

/* line 1, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_sidenav.scss */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* line 13, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_sidenav.scss */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* line 21, ../../Users/Joewh/Documents/GitHub/Portfolio/sass/5-modules/_sidenav.scss */
.sidenav a:hover {
  color: #f1f1f1;
}

/*# sourceMappingURL=main.css.map */