/* base styles  */

// Base selectors 
html {
    box-sizing: border-box;
    font-size: 100%
}

body {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5 {
    color:white;

}

p {
    font-size: 1rem;
}



// Base customs

// Containers are good to set the max width, width, padding and marings of a element.
.container {
    width: 100%;
}

.container-wide {
}

.container-narrow {

}

