// This should contain only varible declarations
// (A reminder than css and sass both have their own varibles that behave very differently) 


// *****************
// Colours
// *****************

// Hex named colours
$Raisin-Black: #252934;
$indendence: #4C556B;
$Razzmatazz: #E31B6D;
$Ultramaine-Blue: #4361EE;
$Carolina-Blue: #20A4F3;

// Descriptive colours 

        // FOR EXAMPLE PRIMARY, SECONDARY, TERTAIRY, THEME, BASE ect
$base-color: #c6538c;

$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);


// *****************
// Font related
// *****************

// Font weights 
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// font stacks
$sans-serif: "Raleway", "Raleway-Italic" , Helvetica, Verdana, sans-serif;


// *****************
// Sass varibles
// *****************

// Sass mixin media queries varibles
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

// For consistency on the margins of the static nav bar
$nav-bar-width:10rem;