

#coding-examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 100%;
}


@media screen and (max-width:768px) {
    .h1-mini {
        font-size: 2.4rem;
    }
}