//This file should contain structuring/styling for the main area, the entire page, away from the navbar

//The entire page seperate from the nav bar
#main {  
  margin-left:$nav-bar-width;
  overflow-x: hidden;
  background-color: $primary-background-colour;
  transition: 0.5s;
  @include set-margin-in-bounds(0px, left, 0px, 767px);
}
