.nav-bar {
  //@include hide-element(0px, 768px);
  width: $nav-bar-width;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: $primary-background-colour;
  border-right: 2px solid $colourful-font-colour;
  transition: 0.5s;


  #main-list {
    li a {
      display: block;
      color: $primary-font-colour;
      text-align: center;
      font-size: large;
      padding: 10px;
      margin-top: 20px;
      font-weight: normal;
      border-bottom: 2px solid $primary-background-colour;
      transition: border-color 0.2s linear;

      &:hover {
        border-bottom: 2px solid $colourful-font-colour;
      }
    }
  }
}

//media query to handle the width ajustment so the bar is animated
@media screen and (max-width:768px) {
  .nav-bar {
    width: 0; 
    border-width: 0;
  }
}
//media query to handle the width ajustment so the bar is animated
@media screen and (min-width:768px) {
  .nav-bar {
    width: $nav-bar-width !important; 
    border-width: 2px !important;
  }
}



// ** At some point you need to change out below, for font-awesome icons

//Styling for the logo in the top left
#main-icon {
  width: 100%;
  display: inline-block;
  font-size: 4rem;
  text-align: center;
  color: $colourful-font-colour;
  border-bottom: 2px solid $colourful-font-colour;
}

//styling for the contact me button on the nav list
#contact-me-btn-styling {
  border-top: 2px solid $colourful-font-colour;
  border-bottom: 2px solid $colourful-font-colour !important;

  &:hover {
    background-color: $colourful-font-colour;
    transition: background-color 0.2s linear;
  }
}

//the element that greys the background when the menu is open
#opacity-layer {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  width: 100%;
  height: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;

}



