// This file contains styling for the project area below the landing page

//The area that contains the projects
#project-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    box-sizing: border-box;
    max-width: 100%;
}