// This file contains styling for the project area below the landing page

//The area that contains the projects
#project-area {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    margin-top: 20px;
}