// This should contain only styling for the contact form

#contact-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    
    .contact-info {
        width: 100%;
    }

    .contact-form {
        width: 100%;

        input, textarea {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: none;
            box-sizing: border-box;
            background-color: #dadbdd;
            margin-bottom: 10px;
        }

        .message-box {
            resize: none;
            min-height: 150px;
            
        }

    }
}

