// This should contain only styling for the contact form

#contact-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    

    //the background colour
    box-shadow: 0px 0px 8px 0px #0000006e;
    background-color: rgba(0, 0, 0, 0.158);
    padding: 20px;

    .contact-info {
        width: 100%;
    }

    .contact-form {
        width: 100%;

        input,
        textarea {
            width: 100%;
            padding: 10px;
            padding-right: 30px;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: #dadbdd;
            margin-bottom: 10px;
            border-style: solid;
            border-width: 2px;
            border-color: rgba(0, 0, 0, 0.158);
            outline: none !important;

            &:focus {
                border-color: rgba(0, 0, 0, 0.158);
                border-width: 2px;
            }
        }

    

        .message-box {
            resize: none;
            min-height: 150px;
            font-family: $raleway-font-stack;
            font-size: 1rem;
        }

        button {
            margin-right: auto;
            margin-left: auto;
        }


    }

    i {
        font-size: 1.5rem;
        position: absolute;
        color: green;
        transform: translate3d(-30px, 8px, 0);

    }
}



.error-success {
    display: block;
    margin-right: 40px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.158);
    box-shadow: 0px 0px 8px 0px #0000006e;
    white-space: normal;
    width: fit-content;
    padding: 20px;
    color: rgb(0, 160, 0);
    font-size: large;

    &:hover {
        background-color: rgba(77, 77, 77, 0.13);
    }

}

.error-failure {
    display: block;
    margin-right: 40px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.158);
    box-shadow: 0px 0px 8px 0px #0000006e;
    white-space: normal;
    width: fit-content;
    padding: 20px;
    color: red;
    font-size: large;

    &:hover {
        background-color: rgba(75, 7, 7, 0.13);
    }

}