// This file contains only the main project cards on the main front page


// The cards on the main page
.card {
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;

    //the background colour
    box-shadow: 0px 0px 8px 0px #0000006e;
    background-color: rgba(0, 0, 0, 0.158);
    
    

    //The image at the top
    .img-area {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            object-position: 50% 50%;
            transition: transform .25s;
            z-index: 1;
        }
    }

    .tech-icons {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;

        padding-left: 20px;
        padding-right: 20px;
        

        i {
            font-size: 3rem;
        }

        //The classes for the logos 
        .i-html {
            color: #e54c21;
            &:hover {
                color: rgb(190, 190, 190);
            }
        }
        .i-css {
            color: #2965f1;
            &:hover {
                color: rgb(190, 190, 190);
            }
        }
        .i-js {
            color: #f7df1f;
            &:hover {
                color: rgb(190, 190, 190);
            }
        }
        .i-php {
            color: #4f5b93;
            &:hover {
                color: rgb(190, 190, 190);
            }
        }

        .i-wordpress {
            color: #117ac9;
            &:hover {
                color: rgb(190, 190, 190);
            }
        }

        .i-woocommerce {
            content: url(../images/WooCommerce_logo.svg);
            height: 48px;
            &:hover {
                content: url(../images/WooCommerce_logo_grey.svg);
            }
        }
        .line-fill {
            display: block;
        }
    }

    //The description area for the card
    .description-area {
        padding-left: 20px;
        padding-right: 20px;
        
        h2 {
            padding-top: 20px;

        }
        p {
        }
    }
}

