// This file contains only the main project cards on the main front page


// The cards on the main page
.card {
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
    

    //The image at the top
    .img-area {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            object-position: 50% 50%;
            transition: transform .25s;
            z-index: 1;
        }
    }

    //The description area for the card
    .description-area {
        h2 {

        }
        p {

        }
    }

    //The button/text that links to the more detailed page for the project
    .view-projects {
        :first-child {
            vertical-align: middle;
        }
        :last-child {    
            vertical-align: middle;
        }
    }
}

