

.scs-scheme-section {
    margin-top: 10vh;     //using vh might be a mistake
    width: 100%;
    padding:40px;
    box-shadow: 0px 0px 8px 0px #0000006e;
    background-color: rgba(0, 0, 0, 0.158);
    box-sizing: border-box;

    .image-container {
        padding-bottom: 20px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .align-text-center {
        text-align: center;
    }
}