// This file should contain only styles related to the social media logos


#social-icon-list {
    display: flex;
    justify-content:space-evenly;
}

.social-icon {
    display: inline-block;   
    text-align: center;
    margin-top: 25px;
    width: 45px;
    height: 45px;
    border-radius: 100%;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        margin-left: 25px;
        margin-right: 25px;

    }

    //Both ways of incoprating icons below are valid so might as well keep them just in case
    //If you use an image this will style the image
    img {
        width:100%;
        height: 100%;
        color: $colourful-font-colour;
    }

    i {
        font-size: 3rem;
    }

    //If you use an icon with <i> then this will style the icon

}


